
<div class="container">
    <h1>NUEVO PROVEDOR</h1>	
        <form class="form__reg">
            <input class="input" type="text" placeholder="&#128100;  Nombre del Proveedor" name ="nombres" autofocus>
            <input class="input" type="text" placeholder="&#8962;  Direccion" required>
            <input class="input" type="text" placeholder="&#8962;  Telefono" required>
            
            <div class="btn__form">
                <input class="btn__submit" type="submit" value="REGISTRAR" >
                <input class="btn__reset" type="reset" value="LIMPIAR">	
            </div>
        </form>
    
    </div>