<div class="text" > Detalle del Ingreso de Producto</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/dashboard/new-input-details"><i class="mdi mdi-shape-rectangle-plus"></i>Añadir detalles</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Proveedor del Proveedor</th>
      <th scope="col">Nombre del Producto</th>
      <th scope="col">Precio del Producto</th>
      <th scope="col"> Descripcion</th>
      <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Johan</td>
      <td>Pilas</td>
      <td>$77</td>
      <td>Pilas ahorrativas</td>
      <td><button class="btn btn-info">Editar</button></td>
      <td><button class="btn btn-primary">Eliminar</button></td>
    </tr>
    <tr>
      <td>Plancha</td>
      <td>Electrodometico</td>
      <td>$77</td>
      <td>Pilas ahorrativas</td>
      <td><button class="btn btn-info">Editar</button></td>
      <td><button class="btn btn-primary">Eliminar</button></td>
    </tr>
    <tr>
      <td>Plancha</td>
      <td>Electrodometico</td>
      <td>$77</td>
      <td>Pilas ahorrativas</td>
        <td><button class="btn btn-info">Editar</button></td>
        <td><button class="btn btn-primary">Eliminar</button></td>
    </tr>
  </tbody>
</table>