<div class="container">
    <div class="contact-box">
        <div class="left"></div>
        <div class="right">
            <h2>Perfil Administrador</h2>
            <input type="text" class="field" placeholder="Nombre">
            <input type="text" class="field" placeholder="Email">
            <input type="text" class="field" placeholder="Celular" min="0" step="5" max="10">
            <input type="password" class="field" placeholder="Contraseña">
            <button class="btn">Guardar</button>
        </div>
    </div>
</div>