<div class="container">
    <div class="contact-box">
        <div class="left"></div>
        <div class="right">
            <h2>Perfil Administrador</h2>
            <input type="text" class="field" placeholder="Nombre" [(ngModel)]="admin.name_admin">
            <input type="text" class="field" placeholder="Email" [(ngModel)]="admin.gmail">
            <input type="text" class="field" placeholder="Celular" [(ngModel)]="admin.telephone"  min="0" step="5" max="10">
            <input type="password" class="field" placeholder="Contraseña" [(ngModel)]="admin.password">
            <button class="btn">Guardar</button>
        </div>
    </div>
</div>