<div class="w-full h-screen logContenedor">
    <div class="my-10 contenido-register">
        <form class="shadow-lg shadow-choc1 formu-register">
            
            <a href="javascript:void(0)" class="text-center db"><img src="../../../assets/images/LOGO.png" alt="Home" style="height: 50px; margin-top: 5px; margin-left: 5px;"/><br/></a>
            <label class="" for="name">Nombre:</label>
            <input class="" id="name" type="text" name="name">
            <br>
            <label class="" for="email">Email:</label>
            <input class="" id="email" type="email" name="email">
            <br>
            <label class="" for="password">Contraseña:</label>
            <input class="" id="password" type="password" name="password">
            <br>
            <input class="font-bold text-lg btn-login" type="submit" value="Registrarse">
            <div class="links">
                <a href="register" class="olvidado">¿Tienes una cuenta?</a>
                <br>
                <a href="#" class="no-register">Volver al Inicio</a>
                <br>
            </div>
        </form>
    </div>
</div>