<div class="text"> Categorias</div>
<div>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</div>
<nav class="navbar">
  <a href="/dashboard/new_categories"><button  type="button" class="btn btn-outline-info"><i
    class="mdi mdi-shape-rectangle-plus"></i>Anadir Categorias</button></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories " [class.active]="category == category">
      <td >{{category.name_category}}</td>
      <td>{{category.description}}</td>
      <td><button class="btn btn-outline"><!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="mdi mdi-pencil"></i> Editar</button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" >Editar Producto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body">
                  <h1>CATEGORIA</h1>
                  <form class="form__reg">
                    <input class="input" type="text" placeholder="&#128100;  Nombre" name="nombres" [(ngModel)]="category.name_category"  autofocus>
                    <input class="input" type="text" placeholder="&#8962;  Descripcion" name="description"[(ngModel)]="category.description" required>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-info" (click)="updateCategory(category)" >Guardar cambios</button>
                </div>
              </div>
            </div>
          </div>
        </button></td>
        <td><button class="btn btn-primary" (click)="deletecategory(category.id_category)">Eliminar</button>
          <div class="modal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Título del modal</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Seguro que quieres borrar esta categoria</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
        </td>

    </tr>

  </tbody>
</table>

