
<div class="container">
    <h1>Detalle de la entrada del Producto</h1>	
        <form class="form__reg">
            <label for="category">Proveedor:</label>
            <select class="input" type="text" name="category">
                <!-- category options -->
                <option class="input" value="" selected></option>
                <option class="input" value="Electrodomesticos">Jacckol</option>
                <option class="input" value="Televisor">Johan</option>
                <option class="input" value="camara">Melani</option>
            </select>
            <input class="input" type="text" placeholder="&#128100;  Nombre del Producto" required autofocus>
            <input class="input" type="number" placeholder="&#8962;  Precio"  min="0" step="5" max="10" required>
            <input class="input" type="text" placeholder="&#8962;  Descripcion" required>
            <input class="input" type="number" placeholder="&#8962;  Cantidad Entrante" min="0" step="5" max="10" required>
            <input class="input" type="date" placeholder="&#8962;  Fecha de recepcion" required>
            <label for="category">Categoria:</label>
            <select class="input" type="text" name="category">
                <!-- category options -->
                <option class="input" value="" selected></option>
                <option class="input" value="Electrodomesticos">Electrodomesticos</option>
                <option class="input" value="Televisor">Televisor</option>
                <option class="input" value="camara">Camara</option>
            </select>	
            
            
            <div class="btn__form">
                <input class="btn__submit" type="submit" value="REGISTRAR">
                <input class="btn__reset" type="reset" value="LIMPIAR">	
            </div>
        </form>
    
    </div>