<div class="text" > Productos</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/dashboard/new_product"><i class="mdi mdi-shape-rectangle-plus"></i>Añadir productos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">Precio</th>
      <th scope="col">Productos <br> disponibles </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Plancha</td>
      <td>Electrodometico</td>
      <td>$20</td>
      <td>4</td>
      <td><button class="btn btn-info">Editar</button></td>
      <td><!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Eliminar
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Estas seguro que quieres eliminar este producto?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
              </div>
            </div>
          </div>
        </div></td>
    </tr>
    <tr>
      <td>Plancha</td>
      <td>Electrodometico</td>
      <td>$20</td>
      <td>4</td>
      <td><button class="btn btn-info">Editar</button></td>
      <td><!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Eliminar
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Estas seguro que quieres eliminar este producto?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
              </div>
            </div>
          </div>
        </div></td>
    </tr>
    <tr>
      <td>Plancha</td>
      <td>Electrodometico</td>
      <td>$20</td>
      <td>4</td>
        <td><button class="btn btn-info">Editar</button></td>
        <td><button class="btn btn-primary">Eliminar</button></td>
    </tr>
  </tbody>
</table>