<div class="text" > Productos</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/dashboard/new_product"><i class="mdi mdi-shape-rectangle-plus"></i>Añadir productos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">Precio</th>
      <th scope="col">Productos <br> disponibles </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Plancha</td>
      <td>Electrodometico</td>
      <td>$20</td>
      <td>4</td>
      <td><button class="btn btn-info">Editar</button></td>
      <td><button class="btn btn-primary">Eliminar</button></td>
    </tr>
    <tr>
      <td>Plancha</td>
      <td>Electrodometico</td>
      <td>$20</td>
      <td>4</td>
      <td><button class="btn btn-info">Editar</button></td>
      <td><button class="btn btn-primary">Eliminar</button></td>
    </tr>
    <tr>
      <td>Plancha</td>
      <td>Electrodometico</td>
      <td>$20</td>
      <td>4</td>
        <td><button class="btn btn-info">Editar</button></td>
        <td><button class="btn btn-primary">Eliminar</button></td>
    </tr>
  </tbody>
</table>