<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">USUARIO</li>
                <li class="user-profile">
                    <a class="has-arrow sidebar" href="#" aria-expanded="false" ><i class="mdi mdi-account">
                        
                    </i><span
                            class="hide-menu">
                        </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/dashboard/profile_admin">Mi Perfil </a></li>
                        <li><a href="/login">Cerrar Sesion</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">MENU</li>
                <li> <a class=" waves-effect waves-dark" href="/dashboard" aria-expanded="false"><i
                            class="mdi mdi-folder-multiple-outline"></i><span class="hide-menu">Pagina Principal</span></a>
                </li>
                <li> <a class=" waves-effect waves-dark" href="/dashboard/product" aria-expanded="false"><i
                            class="mdi mdi-bullseye"></i><span class="hide-menu">Productos</span></a>
                </li>
                <li> <a class=" waves-effect waves-dark" href="/dashboard/categories" aria-expanded="false"><i
                            class="mdi mdi-package-variant"></i><span class="hide-menu">Categorias</span></a>
                </li>
                <li> <a class=" waves-effect waves-dark" href="/dashboard/providers" aria-expanded="false"><i
                            class="mdi mdi-account-switch"></i><span class="hide-menu">Provedores</span></a>
                </li>
                <li> <a class=" waves-effect waves-dark" href="/dashboard/inputdetails" aria-expanded="false"><i
                            class="mdi mdi-cube-outline"></i><span class="hide-menu">Ingreso del
                            producto</span></a>
                </li>
                <li> <a class=" waves-effect waves-dark" href="/dashboard/outputdetails" aria-expanded="false"><i
                            class="mdi mdi-cube-send"></i><span class="hide-menu">Salida de
                            productos </span></a>
                </li>
            </ul>
        </nav>
    </div>