
<div class="container" *ngIf ="!updating">
    <h1>NUEVA CATEGORIA</h1>	
        <form class="form__reg">
            <input class="input" type="text" placeholder="&#128100;  Nombres" name ="name"[(ngModel)]="category.name_category" autofocus required minlength="10" maxlength="15">
            <input class="input" type="text" placeholder="&#8962;  Descripcion" name="description"[(ngModel)]="category.description" required minlength="10" maxlength="25">           
            
            <div class="btn__form">
                <input class="btn__submit" type="submit" value="REGISTRAR"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="registerCategories(category)" >
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Categoria Registrada con Exito!!
                  </div>
                  <div class="modal-footer">
                    <input class="btn btn-secondary" type="reset" value="Listo" href="/dashboard/categories">
                  </div>
                </div>
              </div>
            </div>
                <input class="btn__reset" type="reset" value="LIMPIAR">	
            </div>
        </form>
    
    </div>