<div class="container">
  <h1>Detalle de la Salida del Producto</h1>
  <form class="form__reg">
    <label for="category">Producto:</label>
    <select class="input"type="number" name="id_product" [(ngModel)]="output.id_product">
      <!-- category options -->
      <option *ngFor="let opcion of products" [value]="opcion.name_product">
        {{opcion.name_product}}
      </option>
    </select>
    <input class="input" type="date" placeholder="&#8962;  fecha" [(ngModel)]="output.date_output" required>
    <input class="input" type="number" placeholder="&#8962;  Numero" [(ngModel)]="output.outgoing_amount" required maxlength="3">
    <div class="btn__form">
      <input class="btn__submit" type="submit" value="REGISTRAR" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="registerOutput(output)">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Categoria Registrada con Exito!!
            </div>
            <div class="modal-footer">
              <input class="btn btn-secondary" type="reset" value="Listo">
            </div>
          </div>
        </div>
      </div>
      <input class="btn__reset" type="reset" value="LIMPIAR">

    </div>