<div class="text" > PROVEEDORES</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/dashboard/new-providers"><button  type="button" class="btn btn-info"><i
    class="mdi mdi-shape-rectangle-plus"></i>Anadir Proveedores</button></a>
  <div class="collapse navbar-collapse" id="navbarNav">

  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let provider of provider">
      <td >{{provider.name_provider}}</td>
      <td>{{provider.direction}}</td>
      <td>{{provider.telephone}}</td>
      <td><button class="btn btn-outline"><!-- Button trigger modal -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" > Editar</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar provedores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h1>PROVEEDORES</h1>
                <form class="form__reg">
                  <input class="input" type="text" placeholder="&#128100;  Nombre" name="nombres"[(ngModel)]="provider.name_provider"autofocus>
                  <input class="input" type="text" placeholder="&#8962;  Direccion" name="description" [(ngModel)]="provider.direction"required>
                  <input class="input" type="number" placeholder="&#8962;  telefono" name="telefono"[(ngModel)]="provider.telephone" required minlength="10" maxlength="15">

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="updateProvider(provider)">Cerrar</button>
                <button type="button" class="btn btn-info">Guardar cambios</button>
              </div>
            </div>
          </div>
        </div>
      </button></td>
      <td><button class="btn btn-primary" (click)="delete_provider(provider.id_provider)">Eliminar</button>
        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Estas seguro que quieres eliminar este producto?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </td>

    </tr>
  </tbody>
</table>
