<div class="text" > BIENVENIDOS</div>
<div class="text2" > Sistema de Inventario "Product Inventory"</div>

<div>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</div>

<div class="card">
  <h5 class="card-header">Productos</h5>
  <div class="card-body">
    <h5 class="card-title">Productos innovadores y de calidad que combinan funcionalidad y
      estilo. Diseñados con materiales duraderos, ofrecen soluciones prácticas y estéticas
      para satisfacer las necesidades de nuestros clientes. ¡Descubre nuestra amplia gama de
      productos y mejora tu vida cotidiana!</h5>
    <a href="/dashboard/product" class="btn btn-primary">Productos</a>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Categorias</h5>
  <div class="card-body">
    <h5 class="card-title">
      Explora nuestra amplia variedad de categorías de productos electrónicos. Desde dispositivos
      móviles y accesorios hasta equipos de audio y gadgets innovadores, tenemos todo lo que necesitas
      para estar conectado y disfrutar de la última tecnología.</h5>
    <a href="/dashboard/categories" class="btn btn-primary">Categorias</a>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Proveedores</h5>
  <div class="card-body">
    <h5 class="card-title">Nuestros proveedores son líderes en la industria, comprometidos con la
      calidad y la excelencia. Trabajamos en estrecha colaboración para ofrecer productos confiables
      y satisfacer las demandas de nuestros clientes.</h5>
    <a href="/dashboard/providers" class="btn btn-primary">Proveedores</a>
  </div>




