<div class="text" > BIENVENIDO</div>
<div class="text2" > Sistema de Inventario</div>

<div class="stat">
<div class="stats shadow">
  
 
  
  <div class="stat">
    <div class="stat-figure text-secondary">
      
    </div>
    <div class="stat-title">Productos recien agregados</div>
    <div class="stat-value text-secondary"><table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Categoria</th>
          <th scope="col">Productos <br> disponibles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Focos</td>
          <td>Iluminacion</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Plancha</td>
          <td>Electrodomesticos</td>
          <td>2</td>
        </tr>
      </tbody>
    </table></div>
    <div class="stat-desc">Pendiente</div>
  </div>
  
</div>
</div>