<div class="text" > BIENVENIDOS</div>
<div class="text2" > Sistema de Inventario "Product Inventory"</div>

<div class="card">
  <h5 class="card-header">Productos</h5>
  <div class="card-body">
    <h5 class="card-title">Productos innovadores y de calidad que combinan funcionalidad y
      estilo. Diseñados con materiales duraderos, ofrecen soluciones prácticas y estéticas
      para satisfacer las necesidades de nuestros clientes. ¡Descubre nuestra amplia gama de
      productos y mejora tu vida cotidiana!</h5>
    <a href="/dashboard/product" class="btn btn-primary">Productos</a>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Categorias</h5>
  <div class="card-body">
    <h5 class="card-title">
      Explora nuestra amplia variedad de categorías de productos electrónicos. Desde dispositivos
      móviles y accesorios hasta equipos de audio y gadgets innovadores, tenemos todo lo que necesitas
      para estar conectado y disfrutar de la última tecnología.</h5>
    <a href="/dashboard/categories" class="btn btn-primary">Categorias</a>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Proveedores</h5>
  <div class="card-body">
    <h5 class="card-title">Nuestros proveedores son líderes en la industria, comprometidos con la
      calidad y la excelencia. Trabajamos en estrecha colaboración para ofrecer productos confiables
      y satisfacer las demandas de nuestros clientes.</h5>
    <a href="/dashboard/providers" class="btn btn-primary">Proveedores</a>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Ingreso de productos</h5>
  <div class="card-body">
    <h5 class="card-title">Nuestro proceso de ingreso de productos garantiza una selección cuidadosa y
      rigurosa, asegurando la calidad y la satisfacción de nuestros clientes en cada artículo.</h5>
    <a href="/dashboard/inputdetails" class="btn btn-primary">Ingreso de productos</a>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Salida de productos</h5>
  <div class="card-body">
    <h5 class="card-title">
      Nuestro eficiente proceso de salida de productos asegura entregas rápidas y precisas, brindando a
      nuestros clientes una experiencia satisfactoria y puntual en cada pedido.</h5>
    <a href="/dashboard/outputdetails" class="btn btn-primary">Salida de prodcutos</a>
  </div>


</div>


